fastapi
uvicorn
sqlalchemy
psycopg2-binary
elasticsearch
python-dotenv
pydantic
httpx
pytest
pgvector
sentence-transformers
torch
google-generativeai
email-validator
PyJWT
python-multipart

beautifulsoup4
lxml
tenacity
